<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">Bizimle İletişime Geç</h5>
                    <address>
                        <strong>Umut Park</strong><br>
                        @ViewBag.Iletisim.Adres
                    </address>
                    <p>
                        <i class="icon-phone"></i>Tel: @ViewBag.Iletisim.Telefon<br>
                        <i class="icon-phone"></i>Whatsapp: @ViewBag.Iletisim.Whatsapp<br>
                        <i class="icon-envelope-alt"></i>Email: @ViewBag.Iletisim.Email
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">Menü</h5>
                    <ul class="link-list">
                        <li><a href="/Home/Index/">Ana Sayfa</a></li>
                        <li><a href="/Home/Hakkimmizda/">Hakkımızda</a></li>
                        <li><a href="/Home/Hizmetlerimiz/">Hizmetlerimiz</a></li>
                        <li><a href="/Home/Iletisim/">İletişim</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">Hizmetlerimiz</h5>
                    <div class="flickr_badge">
                        @foreach (var item in ViewBag.Hizmetler)
                        {
                            <img src="@item.ResimURL" width="75" height="30" />
                        }
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>@DateTime.Now.Year &copy; Tüm Hakları Saklıdır</p>
                        <div class="credits">
                            Designed by <a href="https://umutparkdarica.com/">UmutPark</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="social-network">
                        <li><a href="www.facebook.com/@ViewBag.Iletisim.Facebook" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="www.instagram.com/@ViewBag.Iletisim.Instagram" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
